# build artifacts
/dist

*-docs.md

# tests
/test
*.test.js

# project configuration
.DS_Store
.travis.yml
.eslintrc
.prettierrc

# dependencies
/node_modules

# lock files
bun.lockb
pnpm-lock.yaml
package-lock.json

# Auth client
auth-client